@import "tailwindcss";
@plugin "daisyui";



/* body {
  background-color: #f2f2f2;
} */

#loginBackground {
  background-image: url("src/assets/login-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
},

#loginBackground {
  background-image: url("src/assets/login-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}